#### LIBRARIES

In [2]:
import random
import os
import json
import numpy as np
import pandas as pd
from pathlib import Path
import utils

#### DATA

In [3]:
data_dir = Path.cwd()/"AI4Code"
train_dir = data_dir/"train"

In [4]:
train_ancestors = pd.read_csv(data_dir/"train_ancestors.csv")
train_orders = pd.read_csv(data_dir/"train_orders.csv")

#### A LOOK AT SAMPLE TRAIN DATA

In [5]:
print(f"Train data files: {'{:,}'.format(len(os.listdir(train_dir)))}")

Train data files: 139,256

In [6]:
# Get a random file.
sample_file = random.choice(os.listdir(train_dir))
sample_file

'2e0130bff2c2d4.json'

In [10]:
# Load the file, check out the keys.
sample = utils.etl.load_json(train_dir/sample_file)
sample.keys()

dict_keys(['cell_type', 'source'])

In [11]:
sample['cell_type'].keys() == sample['source'].keys() # The keys are the same.

True

In [12]:
# Cell type and source.
sample['cell_type'][list(sample['cell_type'].keys())[0]], sample['source'][list(sample['cell_type'].keys())[0]]

('code',
 '# --- CSS STYLE ---\nfrom IPython.core.display import HTML\ndef css_styling():\n    styles = open("../input/competiongoal/archive/alerts.css", "r").read()\n    return HTML("<style>"+styles+"</style>")\ncss_styling()')

In [13]:
# What do the labels look like?
sample_orders = train_orders[train_orders.id==sample_file.split('.')[0]]
sample_orders['cell_order'].squeeze()

'03bd3cab cbb449a8 f8390fcc 50d42d7b 33b8c022 2889f1ef 82e1d0c4 e781619a a2d0dd0c 3602b32c 23fea3d5 9ffa2c4f 3e2959b9 714776f4 4c56ce37 e6f70dc5 fa26765e 8a9a1338 dfead3b0 c0804feb c2585582 61df9784 193c1ff3 242705b5 df45a411 433a76bd 91c34590 787ddc02 8542a748 0638496b 7e85ce5b 8a2e265d b8ed18a0 739b2cd5 2191a9e3 da8604e6 e476d51c c8155a11 424f188a 1a2b01a0 f76c7ab2 259b8682 c68ffb39 ebf1a4ad d9fc7f42 48e6d207 bbbc4d57 52d48021 254da3d1 62d3adba a3f16efb 12704b7a 8eca5988 9f58f4c8 cb7e9e1c 4b95da0a 61208acb 252886e1 5911d7b4 963974c9 64af6646 10ad7b99 8a7c09b7 c34f8fa2 7bff13c4 76d230c7 e1dea8a9 bb1f8133 c1f18e61 917bbc15 ca537ba1 3e0d0f18 cf87b120 bbfe191b 66379bb2 afd2b982 2053d595'

In [14]:
# Un-huh?
# What about the ancestors?
sample_ancestors = train_ancestors[train_ancestors.id==sample_file.split('.')[0]]
sample_ancestors

                   id ancestor_id parent_id
25019  2e0130bff2c2d4    c40746f1       NaN

In [15]:
# What is the ancestor_id?
train_ancestors.ancestor_id.value_counts()[:5]

4569bfc1    65
51dd4f97    49
021526f8    44
09489e94    43
c65a23e9    41
Name: ancestor_id, dtype: int64

In [16]:
# Ancestor ids with more than one reference notebook?
# The notebooks all have the same parent.
train_ancestors[train_ancestors.ancestor_id=='4569bfc1']

                    id ancestor_id       parent_id
2613    04fdcde7f55004    4569bfc1  9d45e544c18f00
4449    0841913c81f268    4569bfc1  9d45e544c18f00
4918    0920005584e83d    4569bfc1  9d45e544c18f00
9248    1116c472def990    4569bfc1  9d45e544c18f00
10760   13c05cd8dde798    4569bfc1  9d45e544c18f00
...                ...         ...             ...
134663  f793a077c860b1    4569bfc1  9d45e544c18f00
136204  fa5c26e0d7006c    4569bfc1  9d45e544c18f00
136260  fa7292da3a2d0f    4569bfc1  9d45e544c18f00
137076  fbf36be84a7e6e    4569bfc1  9d45e544c18f00
139047  ffa00bb87d8664    4569bfc1  9d45e544c18f00

[65 rows x 3 columns]